@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s ease;
}

html {
  background-color: #0a0a0a;
  background-image: linear-gradient(to right, #0a0a0a, #171717);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

a {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #a7a7a7;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

.card {
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.body-gradient {
  background: linear-gradient(to bottom, #0a0a0a, #1a1a1a);
  min-height: 100vh;
}
